<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog App" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to "Blog App", root_path, class: "navbar-brand text-uppercase fw-bold fs-4" %>
      
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "New Post", new_post_path, class: "nav-link" %>
              </li>
              <li class="nav-item navbar-item-spacing  ">
                <%= form_with url: destroy_user_session_path, method: :delete, local: true do %>
                  <%= submit_tag "Logout", class: "nav-link btn btn-link" %>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-primary" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign Up", new_user_registration_path, class: "nav-link btn btn-secondary" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% elsif alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>

      <%= yield %>
    </div>

    <footer class="bg-dark text-white text-center py-3 mt-5">
      <p>&copy; Project Blog App</p>
    </footer>
  </body>
</html>
